@model Tarea8_GuiaMVC.Entity.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProveedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProveedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantxUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantxUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioUnidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnidadesEnExistencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnidadesEnExistencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
