@model IEnumerable<GuiaMVC2.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioUnidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STOCK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioUnidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOCK)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
