
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>@ViewBag.nombre</h3>
<h3>@ViewBag.apellido</h3>
<h3>@ViewBag.edad</h3>
<h3>@ViewBag.sexo</h3>
<h3>@ViewBag.carrera</h3>
<h3>@ViewBag._contador</h3>

<div>
    @Html.ActionLink("Crear Empleado", "CreateEmpleado")
</div>