@model IEnumerable<Tarea_GuiaMVC.Models.Student>

@{
    ViewBag.Title = "ListarStudent";
}

<h2>ListarStudent</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.studentId }) |
            @Html.ActionLink("Details", "Details", new { id = item.studentId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.studentId })
        </td>
    </tr>
}

</table>
