@model IEnumerable<app_Core04.Models.Pais>

@{
    ViewData["Title"] = "CargarPaises";
}

<h1>CargarPaises</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idpais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombrepais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idpais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombrepais)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
