@model WebApplication1.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Editorial.NombreEditorial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Editorial.NombreEditorial)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodigoLibro }) |
    <a asp-action="Index">Back to List</a>
</div>
